

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Geo data</title>
    
  </head>
  <body>
    <h2>GEO API</h2>
    <p>Your ip address is <strong>{{ ip }}</strong>, and you are probably in <strong>{{ country }}</strong> right now.</p>

  </body>
</html>


    